# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Linux 
.nfs*
.nfs.*

# Apple
.DS*
._.DS*
._*
._*.*

# Eclipse
.tracecompass
*/.tracecompass

# Build
*/build_gd32/*
*/lib_gd32/*
*.su
*.list
*.map
*.size

*.bin
udp_send

gd32f1*.*
lib-gd32/gd32f10x/*
gd32f2*.*
lib-gd32/gd32f20x/*
gd32f3*.*
lib-gd32/gd32f30x/*
gd32fh*.*
lib-gd32/gd32h7xx/*
